dev/
mysite/static/image_hd/*.*
mysite/static/image_no_background/*.*
mysite/static/image_original/*.*
mysite/static/image_vectorize/*.*
mysite/static/uploads/*.*
mysite/static/watermarked_image/*.*
mysite/static/watermarked_vector/*.*
.venv/
venv/
mysite/prompts.log
lambda/
