
client/testlab/mysite/static/image_hd/*.*
client/testlab/mysite/static/image_no_background/*.*
client/testlab/mysite/static/image_original/*.*
client/testlab/mysite/static/image_vectorize/*.*
client/testlab/mysite/static/uploads/*.*
client/testlab/mysite/static/watermarked_image/*.*
client/testlab/mysite/static/watermarked_vector/*.*
client/testlab/venv/
client/testlab/mysite/prompts.log

