body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}
form {
    max-width: 400px;
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    border: none; /* No border for the form */
    box-shadow: none; /* No shadow for the form */
    box-sizing: border-box; /* Ensure consistent box sizing */
    display: flex; /* Align form items */
    flex-direction: column; /* Stack form items vertically */
    align-items: center;
}
/* Optionally, remove the margin from the last element to prevent extra space at the bottom */
form > *:last-child {
    margin-bottom: 0;
}
input[type="text"], select {
    width: 100%; /* Adjust width */
    padding: 10px 15px; /* Adjust padding as needed */
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Add box-sizing */
    font-size: 16px; /* Match font size */
    background-color: #fff; /* Match background color */
    height: 40px; /* Example fixed height */
}
input[type="submit"] {
    width: 100%; /* Match width with padding */
    padding: 10px;
    margin: 10px;
    background-color: #FFCB37;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #DFB232;
}
input[type="button"], #generateNameButton {
    width: 100%;
    padding: 10px;
    margin: 10px;
    background-color: #FFCB37; /* primary color */
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
input[type="button"]:hover, #generateNameButton:hover {
    background-color: #DFB232; /* darker shade for hover effect */
}

#logo {
    width: 250px;
    height: auto;
    margin: 20px auto; /* Center the logo */
}
#resultImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
#imageContainer {
    width: 100%;
    max-width: 380px; /* This will limit the width of the container on larger screens */
    height: auto; /* Height is dynamic */
    max-height: 50vh; /* Maximum height is 50% of the viewport height */
    margin: 20px auto; /* Center container */
    padding: 10px; /* Padding inside the container */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide overflow if content is larger than the container */
    /* Adding box-shadow for visual separation (optional) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    position: relative;
}
#imageContainer img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* Remove extra space below the image */
    margin: auto; /* Center the image within the container */
}
#imageContainer p {
    margin: 0; /* Reset default margins for paragraphs */
    width: 100%;
    text-align: center;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#explainerBox {
    background-color: #ffffff; /* Light background for the explainer box */
    border: 0px solid #ddd; /* Border for the box */
    padding: 5px; /* Padding inside the box */
    margin: 5px auto; /* Margin around the box */
    border-radius: 0px; /* Rounded corners for the box */
    box-shadow: 0 0px 0px rgba(0,0,0,0); /* Subtle shadow for depth */
    max-width: 400px; /* Maximum width of the box */
    text-align: center; /* Align text to the left */
    font-size: 16px; /* Adjust font size as needed */
    width: 90%;
}
/* Inactive state */
#generateActionButton {
    display: none;
}
/* Active state */
#generateActionButton.active {
    color: #FFCB37; /* Yellow text color for active state */
    border: 2px solid #FFCB37; /* Yellow border for active state */
    cursor: pointer;
}

#switchButtons button {
    background-color: #ccc; /* Default gray background */
    color: black; /* Text color */
    border: none; /* No border */
    padding: 10px; /* Same padding as submit button */
    margin: 8px; /* Spacing around buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Larger font size for readability */
}

/* Styles for the active button */
#switchButtons button.active {
    background-color: #FFCB37; /* Active background color */
    color: white; /* Active text color */
}

#svgDownload {
    background-color: #FFCB37; /* Default gray background */
    color: black; /* Text color */
    border: none; /* No border */
    padding: 10px; /* Same padding as submit button */
    margin: 8px; /* Spacing around buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Larger font size for readability */

}

#upload-section {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 8px;
}
#upload-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

#image-upload, #file-chosen {
    display: inline-block; /* or 'block' */
    width: 100%; /* This makes the span take the full width of its container */
    text-align: center; 
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Or your preferred background styling */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sections {
    text-align: center;
    width: 100%;
    align-items: center;
}
.button {
    padding: 10px;
    margin: 8px; /* Adjust the space between buttons */
    background-color: #FFCB37;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block; /* Use inline-block for proper width control */
    text-decoration: none; /* Remove underline from links if using <a> */
    width: 140px;
}

.gray-button {
    background-color: #cccccc; /* Gray background */
}
.button:hover {
    background-color: #DFB232;
}

.pillbutton {
    height: 32px;
    display: inline-flex; /* makes the hight accurate */
    align-items: center;/* Center the text horizontally */
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px; /* Adjust the space between buttons */
    background-color: transparent; /* No fill color */
    color: black; /* Text color */
    cursor: pointer;
    border: 2px solid black; /* 2px thick black outline */
    border-radius: 20px; /* Pill shape */
    font-size: 16px;
    text-decoration: none; /* Remove underline from links if using <a> */
    line-height: 32px; /* Line height equal to the button's height for vertical centering */
    box-sizing: border-box;
}

.pillbutton:active {
    background-color: black; /* Color changes when the button is actively clicked */
    color: white;
}

.pillbutton.uploaded {
    background-color: black;
    color: white;
}

/* More space above the switch buttons container */
.switchButtons {
    margin-top: 10px; /* More space above */
}

/* More space below the vector switch container */

.download-container {
    display: flex;
    justify-content: center; /* Adjust this to 'center' if you want to center the buttons */
    align-items: center; /* Vertical alignment */
    width: 100%;
    max-width: 380px; /* Same max-width for consistent alignment */
    margin: 0 auto; /* Center the container */
    gap: 10px; /* Space between buttons */
    padding: 0 10px; /* Adjust padding if necessary */
    box-sizing: border-box;
    margin-top: 20px;
}

.warning-message {
    display: none !important;
}
.footer p {
    margin: 0; /* Removes default margin */
    padding: 2px 0; /* Adds a small padding, adjust as needed */
    font-family: 'Poppins', sans-serif;
    font-size: 12px; /* Adjust the size as needed */
    text-align: center;
    color: #333; /* Adjust the color as needed */
}
.footer {
    margin-top: 10px; /* Space above the footer */
}
.footer a {
    color: inherit; /* Hyperlink color, change as needed */
    text-decoration: underline; /* Removes underline from links */
}
.image-wrapper {
    width: 100%; /* Fill the container, respecting the padding */
    height: auto; /* Fill the container, respecting the padding */
    display: flex;
    align-items: center;
}

.switch-container {
    display: flex;
    justify-content: center; /* Separate label and switch */
    align-items: center; /* Vertical alignment */
    width: 100%;
    max-width: 380px; /* Consistent max-width as the form and other elements */
    margin: 0 auto; /* Center the container */
    padding: 0 10px; /* You might want to adjust padding here */
    box-sizing: border-box;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;  /* Default width */
    height: 34px; /* Default height */
    margin-right: 10px;
}
.switch-label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: left;
}
/* Hide default checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input:checked + .slider {
    background-color: #FFCB37; /* Primary color for the slider background when checked */
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc; /* Background of the slider */
    transition: .4s;
    border-radius: 34px; /* Rounded corners for the slider */
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%; /* Rounded shape for the toggle knob */
}
.image-wrapper.checkered-background {
    background-image: linear-gradient(45deg, #EAEAEA 25%, transparent 25%, transparent 75%, #EAEAEA 75%, #EAEAEA),
                      linear-gradient(45deg, #EAEAEA 25%, transparent 25%, transparent 75%, #EAEAEA 75%, #EAEAEA);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent overlay */
    z-index: 2; /* Ensures the overlay is above the image */
}

@media (min-width: 768px) {
    /* Desktop-specific styles */
    .switch {
        width: 40px; /* Larger width for desktop */
        height: 22px; /* Larger height for desktop */
    }
    .slider:before {
        width: 18px; /* Larger toggle knob for desktop */
        height: 18px;
        left: 2px; /* Adjust to center the knob */
        bottom: 2px; /* Adjust to center the knob */
    }
    input:checked + .slider:before {
        transform: translateX(18px); /* Adjust for desktop */
    }
    #action-dropdown, .spacing-element { /* Modify or add additional selectors if required */
        margin-bottom: 10px;    /* Adjust the bottom margin to control space */
    }
}
@media screen and (max-width: 767px) {
    #logo {
        display: block; /* Ensure the logo is treated as a block-level element */
        margin: 20px auto; /* Auto margin for horizontal centering */
    }

    .button {
        flex: 1; /* Distribute space equally to both buttons */
        padding: 15px; /* Larger padding for easy touch */
        font-size: 18px; /* Larger font size for readability */
        height: 50px; /* Larger height for a touch-friendly interface */
        border-radius: 10px; /* Rounded corners for a modern look */
    }
    .pillbutton {
        padding-top: 2px ;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 2px;
        height: 36px;
    }

    body {
        display: flex; /* Revert to block layout for mobile */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    form {
        width: 95%; /* Slightly wider on smaller screens */
        padding: 15px; /* More padding for a better touch experience */
        margin: 10px auto; /* Reduced margin */
        font-size: 18px; /* Larger font size for better readability */
        box-shadow: none; /* No shadow for the form on mobile */
    }
    .switch input:checked + .slider:before {
    transform: translateX(26px); /* Move the knob to the right when checked */
    }
    /* Styles specific for select and text inputs */
    select, input[type="text"], input[type="submit"], input[type="button"] {
        padding: 15px; /* Larger padding for easy touch */
        font-size: 18px; /* Larger font size for readability */
        height: 50px; /* Larger height for a touch-friendly interface */
        border-radius: 10px; /* Rounded corners for a modern look */
    }
    .footer {
        position: static; /* Ensure the footer is at the bottom */
        width: 100%; /* Full width of the viewport */
    }
}
.hidden {
    display: none !important;
}
